azure-ai-documentintelligence==1.0.2
azure-ai-ml
azure-core==1.41.0
certifi==2026.6.17
charset-normalizer==3.4.7
idna==3.18
isodate==0.7.2
numpy==2.5.0
requests==2.34.2
typing_extensions==4.15.0
urllib3==2.7.0
